.App {
  text-align: center;
}

h1 {
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

button {
  padding: 15px;
  font-size: 30px;
  border-radius: 5px;
  margin: 20px;
  border: 0px;
  cursor: pointer;
}

form {
  margin: 0 auto;
  font-size: 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 50%;
}

input {
  font-size: 30px;
  margin: 15px;
  padding: 10px;
  border-radius: 5px;
}

label {
  display: block;
}
